@charset "utf-8";
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;600&display=swap");

main {
    max-width: 1000px;
    padding: 20px 40px;
    margin: 0 auto 100px auto;
}

h2 {
    font-family: 'Times New Roman', Times, serif;
    line-height: normal;
    font-size: 1.2rem;
}

#promtion-container {
    font-family: "Quicksand", sans-serif;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    padding: 30px;
    margin-top: 20px;
}

.bubble {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgb(14, 14, 14);
    margin: 10px;
    width: 200px;
    height: 200px;
    box-shadow: 2px 2px 5px rgb(255, 255, 255);
    transition: all 1s;
}

.bubble:hover {
    transform: scale(1.1);
}

.bubble div {
    height: 70%;
    padding: 10px;
}

.bubble img {
    height: 100%;
}

.bubble span {
    height: 30%;
    width: 100%;
    color: goldenrod;
}

#event-container {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 0 auto;
}

.event {
    cursor: pointer;
    margin-top: 2rem;
    padding-bottom: 1rem;
    border-bottom: 2px solid rgb(255, 255, 255);
}

.event-title {
    display: flex;
    text-align: start;
    justify-content: space-between;
    padding-right: 20px;
}

.event-title h3 {
    font-size: 1.6rem;
}

.content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 1.4s ease;
}

.content p {
    line-height: 1.6;
    padding-top: 1rem;
    font-size: 1.4rem;
    text-align: justify;
}

.event.active .content {
    max-height: 300px;
    animation: fade 1s ease-in-out;
}

.event.active .down-arrow {
    transform: rotate(180deg);
}

.down-arrow {
    width: 30px;
    padding: 0;
}

.down-arrow {
    transition: transform 0.5s ease-in;
}

@keyframes fade {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }

    to {
        opacity: 1;
        transform: translateY(0px);
    }
}

@media only screen and (max-width: 700px) {
    .bubble {
        width: 150px;
        height: 150px;
    }
    
    .event-title h3 {
        font-size: 1.2em;
    }

    .content p {
        font-size: 17px;
    }
}